* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: 0.5s;   
   
}

body {
    margin-top: 0px;
    margin-left: 0px;   
    background-color: #292727; 
}









